.todo-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.todo-list-item {
  background-color: var(--bg-secondary);
  margin-top: 1rem;
  width: 90%;
  display: flex;
  flex-direction: column;
  border-radius: 3px;
  transition: all 0.3s ease-in-out;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  color: var(--text-primary);
}

.todo-list-items {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  border-bottom: 0.01rem solid var(--text-secondary);
}

.todo-task {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.checkers {
  appearance: none;
  -webkit-appearance: none;
  width: 22px;
  height: 22px;
  border-radius: 50%;
  border: none;
  background-color: var(--bg-secondary);
  outline: 1px solid var(--border-color);
  cursor: pointer;
  position: relative;
  transition: all 0.3s ease;
}

.checkers:checked {
  background: linear-gradient(135deg, hsl(192, 80%, 65%), hsl(270, 70%, 65%));
}

.checkers:checked::after {
  content: "";
  position: absolute;
  top: 5px;
  left: 8px;
  width: 4px;
  height: 8px;
  border: solid white;
  border-width: 0 3px 3px 0;
  transform: rotate(45deg);
  transition: all 0.3s ease;
}

.strike-through {
  text-decoration: line-through;
  opacity: 0.6;
}

.manager-list-items-mobile {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  border-bottom: 0.01rem solid var(--text-secondary);
  color: var(--text-secondary);
}

.manager-list-items-desktop {
  display: none;
}

.filter-mobile {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: 1rem;

  background-color: var(--bg-secondary);
  width: 90%;
  margin-top: 1rem;

  color: var(--text-primary);
  font-weight: 600;
  border-radius: 5px;

  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
}

.filter-wide-screen {
  margin-top: 1rem;
}

.desktop {
  display: none;
}

@media screen and (min-width: 768px) {
  .todo-list-item {
    width: 50%;
    transition: all 0.3s ease-in-out;
  }

  /* checker desktop */

  .checkers {
    width: 21px;
    height: 21px;
    border-radius: 50%;
    border: none;
    background-color: var(--bg-secondary);
    outline: 1px solid var(--border-color);
    cursor: pointer;
    position: relative;
    transition: all 0.3s ease;
    left: 0.9rem;
  }

  .checkers:checked::after {
    content: "";
    position: absolute;
    top: 3px;
    left: 8px;
    width: 3px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    transform: rotate(45deg);
  }

  /*  */

  .desktop {
    display: block;
    display: flex;
  }

  .filter-mobile {
    display: none;
    transition: all 0.3s ease-in-out;
  }

  .manager-list-items-mobile {
    display: none;
    transition: all 0.3s ease-in-out;
  }

  .manager-list-items-desktop {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    border-bottom: 0.01rem solid var(--text-secondary);
    color: var(--text-secondary);
  }

  .filter-desktop {
    display: flex;
    justify-content: center;
    gap: 1rem;
  }
}
