.todo {
  height: 100dvh;
  transition: all 0.3s ease-in-out;
}

.todo-header {
  background: url("../../assets/images/bg-mobile-light.jpg");
  background-size: cover;
  background-position: center;
  padding: 1rem;
  cursor: pointer;

  /* Transition */
  transition: all 0.3s ease-in-out;
}

.todo-header.active {
  background: url("../../assets/images/bg-mobile-dark.jpg");
  background-size: cover;
  background-position: center;
}

.todo-header-container {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 600px;
  margin: 0 auto;

  height: 20vh;
  overflow: hidden;
}

.title-wrapper {
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
  gap: 15rem;

  margin-bottom: 6rem;
  transition: all 0.3s ease-in-out;
}

/* Header title */
.todo-title-header {
  font-size: clamp(1.5rem, 4vw, 2.5rem);
  font-weight: 700;
  letter-spacing: 0.3rem;
  text-transform: capitalize;
  transition: all 0.3s ease-in-out;
  color: #fff;
}

/*  Background  */

/* Toggle */

.toggle-theme {
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.me {
  color: var(--second-primary);
  font-size: 5rem;
  font-weight: 700;
  text-transform: capitalize;
  letter-spacing: 0.3rem;
  text-align: center;
}
/* large screen */

@media screen and (min-width: 768px) {
  .todo-header {
    background: url("../../assets/images/bg-desktop-light.jpg");
    background-size: cover;
    background-position: center;
    padding: 1rem;
    cursor: pointer;

    /* Transition */
    transition: all 0.3s ease-in-out;
  }

  .todo-header.active {
    background: url("../../assets/images/bg-desktop-dark.jpg");
    background-size: cover;
    background-position: center;
  }
  .todo-header {
    height: 40vh;
  }

  .todo-header-container {
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
  }

  .title-wrapper {
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
    gap: 25rem;

    margin-bottom: 1rem;
  }
}
