.todo {
  height: 100dvh;
  transition: all 0.3s ease-in-out;
  position: relative;
  display: flex;
  flex-direction: column;

  outline: 1px solid red;
}

.todo-header {
  background: url("../../assets/images/bg-mobile-light.jpg");
  background-size: cover;
  background-position: center;
  padding: 1rem;
  cursor: pointer;

  /*  outline: 1px solid red; Transition */
  transition: all 0.3s ease-in-out;
}

.todo-header.active {
  background: url("../../assets/images/bg-mobile-dark.jpg");
  background-size: cover;
  background-position: center;
  transition: all 0.3s ease-in-out;
}

.todo-header-container {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 600px;
  margin: 0 auto;
  flex-direction: column;
  height: 33vh;
  /* overflow: hidden; */
}

.title-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 13rem;
  /* margin-top: 2rem; */
  margin-bottom: 5rem;
  transition: all 0.3s ease-in-out;

  /* outline: 1px solid red; */
}

/* Header title */
.todo-title-header {
  font-size: clamp(1.9rem, 4vw, 3rem);
  font-weight: 700;
  letter-spacing: 0.5rem;
  text-transform: capitalize;
  transition: all 0.3s ease-in-out;
  color: #fff;

  display: flex;
  align-items: center;
}

/*  Background  */

/* Toggle */

.toggle-theme {
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

/* large screen */

@media screen and (min-width: 768px) {
  .todo {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 1400px;
  }
  .todo-header {
    background: url("../../assets/images/bg-desktop-light.jpg");
    background-size: cover;
    background-position: center;

    /* Transition */
    transition: all 0.3s ease-in-out;
  }

  .todo-header.active {
    background: url("../../assets/images/bg-desktop-dark.jpg");
    background-size: cover;
    background-position: center;
  }
  .todo-header {
    height: 40vh;
  }

  .todo-header-container {
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
  }

  .title-wrapper {
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
    gap: 25rem;

    margin-bottom: 1rem;
  }
}
