@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Josefin Sans", sans-serif;
  line-height: 1.6;
  font-size: 1rem;
  color: var(--text-primary);
  background-color: var(--bg-color);
}

/* body.active {
  background-color: var(--bg-color);
  color: var(--text-primary);
} */

html {
  scroll-behavior: smooth;
}

img {
  max-width: 100%;
  height: auto;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

:root {
  --accent-color: hsl(220, 98%, 61%);
  --check-bg: linear-gradient(hsl(192, 100%, 67%), hsl(280, 87%, 65%));

  /* Light Theme Colors */
  --bg-color: hsl(236, 33%, 92%);
  --bg-secondary: hsl(0, 0%, 98%);
  --border-color: hsl(233, 11%, 84%);
  --text-primary: hsl(235, 19%, 35%);
  --text-secondary: hsl(236, 9%, 61%);
  --hover-color: hsl(236, 33%, 92%);
}

[data-theme="dark"] {
  /* Dark Theme Overrides */
  --bg-color: hsl(235, 21%, 11%);
  --bg-secondary: hsl(235, 24%, 19%);
  --border-color: hsl(233, 14%, 35%);
  --text-primary: hsl(234, 39%, 85%);
  --text-secondary: hsl(234, 11%, 52%);
  --hover-color: hsl(236, 33%, 92%);
}
