@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Karla:ital,wght@0,200..800;1,200..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Red+Hat+Text:ital,wght@0,300..700;1,300..700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Josefin Sans", sans-serif;
  line-height: 1.6;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Josefin Sans", sans-serif;
}

img {
  max-width: 100%;
  height: auto;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

:root {
  /* Light Theme */
  --bg-color: hsl(0, 0%, 98%);
  --bg-secondary: hsl(236, 33%, 92%);
  --border-color: hsl(233, 11%, 84%);
  --text-primary: hsl(235, 19%, 35%);
  --text-secondary: hsl(236, 9%, 61%);
}

.dark {
  /* Dark Theme */
  --bg-color: hsl(235, 21%, 11%);
  --bg-secondary: hsl(235, 24%, 19%);
  --border-color: hsl(233, 14%, 35%);
  --text-primary: hsl(234, 39%, 85%);
  --text-secondary: hsl(234, 11%, 52%);
  --hover-color: hsl(236, 33%, 92%);
}
